html {
	background-color: #42413d;
	color:white;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
}

button {
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
	font-size:14px;
	padding:5px;
	cursor:pointer;
}

td, tr{
	border: 2px solid white;
	border-radius: 10px;
	background-color: white;
}

#table_game td{
	/*width: 50px;
	height: 50px;*/
	cursor: pointer;
}

#player_round{
    font-size:18px;
    vertical-align: 59%;
}
#img_turn{
    margin-top: 10px;
}
.red {
	background: white url("../images/cross.png") no-repeat center center;
}

.black {
	background: white url("../images/circle.png") no-repeat center center;
}

.content{
	padding:10px;
	position:absolute;
  	z-index:1;
}

#start_again{
    vertical-align: 60%;
    margin-left: 10px;
}
#start_again .hide{
    display: none;
}
#start_again .show{
    display: inline;
}
#rules{
 	float:left;
    width:30%;
}
#title{
	text-align: center;
	padding:50px;
    padding-bottom: 20px;
}

#volet {
	position:absolute;
 	z-index: 2;
    width: 280px;
    padding: 20px;
    background: white; color: black;
    border-radius: 0 8px 8px 0 ;
    border: 2px solid grey;
    left: -320px; 
    top: 200px;	
}

#volet a.ouvrir, #volet a.fermer {
    padding: 10px 25px;
    background: #fe0000;
    color: #fff;
    text-decoration: none;
}

#volet a.fermer {
    display: none;
}

#volet a.ouvrir, #volet a.fermer {
    position: absolute;
    right: -105px;
    top: 130px;

    /* quelques styles CSS3 */
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);

    border-radius: 0 0 8px 8px;
}

#volet {
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

#volet_clos:target #volet {
    left: -250px;
}

#volet:target a.ouvrir {
    display: none;
}

#volet:target a.fermer {
    display: block;
}

#volet:target {
    left: 0;
}

.config_label {
	margin-bottom: 20px;
}