@font-face {
  font-family: 'ambrosia';
  src: url('../font/ambrosia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'source';
    src: url('../font/Source.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
  min-height: 100%;
  height:100%;
  font-family: ambrosia; 
  text-align: center; 
}

.connect4{
  background: url("../images/connect4_empty.png") no-repeat center center;
  background-size: 100% 100%;
}
.connect4_red{
  background:  url("../images/connect4_red.png") no-repeat center center;
  background-size: 100% 100%;
}
.connect4_yellow{
  background: url("../images/connect4_yellow.png") no-repeat center center;
  background-size: 100% 100%;
}

.red {
  background: #e0e4e7  url("../images/delete.png") no-repeat center center;
}

.redWin {
  background: #ed5564;
}

.black {
  background: #e0e4e7  url("../images/geometry.png") no-repeat center center;
}

.blackWin {
  background: #5c9ded;
}

.yellowWin{
   background: url("../images/connect4_yellow_win.png") no-repeat center center;
  background-size: 100% 100%;
}
.red4win{
   background: url("../images/connect4_red_win.png") no-repeat center center;
  background-size: 100% 100%;
}
.turn{
  margin-left:10px;
  margin-top:10px;
  font-family: ambrosia; 
  font-size: 25px;
  font-weight: bold;
}

table td{
  cursor: pointer;
  display: table-cell !important;
  background-color: #e0e4e7 ;
 border: 1px solid #a5adb8;
}

table{
  margin : 10px auto auto auto; 

}
#table_game { 
  margin : 10px auto auto auto; 
  border-collapse: inherit !important;
  border-spacing: 8px 8px;
}

#table_game_4 { 
  margin : 10px auto auto auto; 
  border-collapse: inherit !important;
  border-spacing: 0;
}

#table_game_4 td{
  border: 1px solid #5c9ded;
}

.container{
  width:100% !important;
}

.alignTable{
  position: absolute;
  left:40%;
}

.bigTable td{
  width:100px !important;
  height:100px !important;
}

.mediumTable td{
  width:80px !important;
  height:80px !important;
}

.smallTable td{
  width:50px !important;
  height:50px !important;
}
.smallTable {
   border-spacing: 3px 3px !important;
}

.border_bottom {
  border-bottom:1pt solid black;
} 

.button {
  vertical-align: middle;
  position: relative;
  vertical-align: middle;
  border-radius: 5px;
  padding: 5px;
  font-size: 22px;
  width:40px;
  height:40px;
  color: white;
  text-align: center;
  right:0;
  background: #67B2D0;
  border: 0;
  cursor: pointer;
}

.redbutton {
  background: #ed5564;
  padding-top: 1px;
}

.number{
  font-family: track;
  font-size: 20px;
  padding:10px;
  border-radius: 5px;
  border:1px solid black;
}

.center-table
{
  margin: 0 auto !important;
  float: none !important;
}

.center-div{
  position: absolute;
  margin: auto;
  top: 35%; 
  left: 40%;
  border-radius: 3px;
}

.whitebutton{
  background-color: white !important;
}

#btnClose {
  display: none;
}

#princ{
  display: inline-block;
}

#config{
  display:none;
  background:#ed5564;
  height:100vh;
  color:white;
  font-family: source;
  font-size: 20px;
}

.add_minus{
  cursor: pointer;
}

.nb{
  font-family: track;
}

footer {
  height:24px; 
  font-family: ambrosia;
  font-size: 16px;
  height:24px; // Replace with the height your footer should be
  width: 100%; // Don't change
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  right: 0pt;
  margin-right:10px;
  margin-left:10px;
}  

div {
  margin:0 0 0.75em 0;
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: white;
    margin-right: 10px;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
    margin-right: 10px;
}

input[type="radio"] + label span {
     background-color:white;
}

input[type="radio"]:checked + label span{
     background-color:#4cc5e4;

}

input[type="radio"]:checked + label span .green{
     background-color:black;

}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

label{
  font-weight: inherit !important;
}

.contButton{
  margin-left:20px;
  width:100px;
  font-size:18px;
  font-family:source;
  display:none;
  background-color: #5c9ded;
}

#menu {
  top:50%;
}

.menu a, .menu a:hover{
  width: 100%;
  height: 100%;
  font-family: track;
  color:white;
  font-size: 17px;
  text-decoration: none;
}

.redMenu {
  background-color:#ed5564;
  height:200px;
  margin-right: 10px;
}

.greenMenu {
  background-color:#99d468;
   height:200px;
    margin-right: 10px;
}

.blueMenu {
  background-color:#5c9ded;
   height:200px;
    margin-right: 10px;
}

.yellowMenu{
  background-color:#f1c40f;
  height:200px;
  margin-right: 10px;
}

.blackbutton{
  background-color: #a5adb8;
  padding: 7px;
    padding-right: 10px;
}

.smallMenu {
  margin-bottom: 10px;
     border-spacing: 2px 2px !important;
}

.smallMenu td{
  width:40px !important;
  height:40px !important;
  background-color: white;
}

.verySmallMenu {
  margin-bottom: 10px;
     border-spacing: 1px 1px !important;
}

.verySmallMenu td{
  width:18px !important;
  height:18px !important;
  background-color: white;
}

.mediumSmallMenu {
  margin-bottom: 14px;
  border-spacing: 1px 1px !important;
}

.mediumSmallMenu td{
  width:28px !important;
  height:28px !important;
  background-color: white;
}

.blue {
  background: #e0e4e7  url("../images/sphere.png") no-repeat center center;
   background-size: 12px 12px;
}

.yellow {
  background: #e0e4e7  url("../images/roundYellow.png") no-repeat center center;
  background-size: 12px 12px;
}

.green {
  background: #e0e4e7  url("../images/plain.png") no-repeat center center;
   background-size: 18px 18px;
}

.red2 {
  background: #e0e4e7  url("../images/delete.png") no-repeat center center;
  background-size: 22px 22px;
}